# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/

# gradle
build/
.gradle/
out/

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

#custom
.DS_store
Thumbs.db
*.log
libs/

# Forge MDK example mod (non serve nel repo)
src/main/java/com/example/