# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/

# gradle
build/
.gradle/
out/

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

#custom
.DS_store
Thumbs.db
*.log
libs/

# Forge MDK example mod (non serve nel repo)
src/main/java/com/example/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*